﻿@model Survey.Models.SurveyAnswer
@using Resources


@{
    ViewBag.Title = "How do you book a travel accommodation?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ModelStateDictionary modelState = ViewBag.ModelState;
    int languageInd = 0;
}

<div class="jumbotron">
    <h1>@Model.Survey.Title</h1>
    <p class="lead">@Model.Survey.Description</p>
    <p>
        @foreach (KeyValuePair<Survey.Models.LanguageEnum, string> lang in @Model.Survey.Translations)
        {
            languageInd++;
            if (languageInd != 1)
            {
                @: |
            }
            @Html.ActionLink(lang.Value, "Index", new { id = @Model.Id, language = lang.Key }) 
        }
    </p>
</div>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Language)

        for (int i = 0; i < Model.Answers.Count; i++)
        {
            string required = "";
            string panelType = "panel-default";
            string questionIdStr = Model.Answers[i].Question.Id.ToString();
            
            if (Model.Answers[i].Question.IsRequired)
            {
                required = "*";
            }
            if (modelState != null && modelState[questionIdStr] != null && modelState[questionIdStr].Errors.Count > 0)
            {
                // There is an error for this question.
                panelType = "panel-danger";
            }            
            <div id="@Model.Answers[i].Question.Id" class="panel @panelType">



                <div class="panel-heading">
                    @Html.ValidationMessage(@Model.Answers[i].Question.Id.ToString(), "", new { @class = "text-danger" })
                    <h4>
                        @Model.Answers[i].Question.Number @Model.Answers[i].Question.Text @required
                    </h4>
                </div>
                <div class="panel-body">

                    @if (Model.Answers[i].Question.Type == Survey.Models.QuestionType.Text)
                    {
                        <p>
                            @Html.TextBoxFor(model => model.Answers[i].TextValue, new { @class = "form-control", size = "80" })
                        </p>
                    }
                    else
                    {
                        <ol>
                            @for (int j = 0; j < Model.Answers[i].Question.Options.Count; j++)
                            {
                                <li>
                                    @if (Model.Answers[i].Question.Type == Survey.Models.QuestionType.SingleChoice)
                                    {
                                        @Html.RadioButtonFor(model => model.Answers[i].SingleSelectedChoiceId, Model.Answers[i].Question.Options[j].Id) @:&nbsp; @Html.DisplayFor(model => model.Answers[i].Question.Options[j].Text)
                            }
                                    else
                                    {
                                        @Html.CheckBoxFor(model => model.Answers[i].MultiSelectedChoiceIds[j]) @:&nbsp; @Html.DisplayFor(model => model.Answers[i].Question.Options[j].Text)
                            }
                                    @if (Model.Answers[i].Question.Options[j].IsOther)
                                    {
                                        @Html.EditorFor(model => model.Answers[i].OtherValue)
                                    }
                                </li>
                            }
                        </ol>
                    }
                </div> <!-- panel body -->
            </div> <!-- panel -->
        }

        <hr />
        <div class="form-group">
            <div>
                <input type="submit" value="@Resources.Submit" class="btn btn-default" />
            </div>
        </div>
    }

</div>
