﻿@model System.Collections.Generic.List<Survey.Models.LanguageEnum>

@{
    ViewBag.Title = "AddNewTranslation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Translation</h2>
@using (Html.BeginForm(new { surveyId = ViewBag.SurveyId }))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Language", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("language", new SelectList(Model))
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to the list of surveys", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




