﻿@model IEnumerable<Survey.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>Translations</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @foreach(KeyValuePair<Survey.Models.LanguageEnum, string> lang in item.Translations)
            {
                @Html.ActionLink(lang.Value, "Edit", new { id = item.Id, language = lang.Key }) @:|
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Add translations", "AddNewTranslation", new {surveyId = item.Id}) |
            @Html.ActionLink("Answer", "Index", "SurveyAnswer", new { id = item.Id, language = Survey.Models.LanguageEnum.English}, null) |
            @Html.ActionLink("Download excel", "DownloadExcel", new { surveyId = item.Id })
        </td>
    </tr>
}

</table>
