﻿@model Survey.Models.QuestionAnswer
@{
    string required = "";
    if (Model.Question.IsRequired)
    {
        required = "*";
    }
}

<div id="@Model.Id">
    <p>@Model.Question.Number @Model.Question.Text @required</p>

    @if (Model.Question.Type == Survey.Models.QuestionType.Text)
    {
        <p><input type="text" name="@Model.Id" id="@Model.Id" /></p>
    }
    else
    {
        <ol>
            @foreach (Survey.Models.QuestionOption option in Model.Question.Options)
            {
                <li>
                    @if (!option.IsOther)
                    {
                        if (Model.Question.Type == Survey.Models.QuestionType.MultiChoice)
                        {
                            <input type="checkbox" id="@option.Id" name="@option.Id" value="@option.Id" /> @option.Text
                        }
                        else
                        {
                            <input type="radio" id="@option.Id" name="@option.Id" value="@option.Id" /> @option.Text
                        }
                    }
                    else
                    {
                        @option.Text <input type="text" name="@option.Id" id="@option.Id" />
                    }
                </li>
            }
        </ol>
    }
</div>
