﻿@model Survey.Models.Question
@{
    string required = "";
    if (Model.IsRequired)
    {
        required = "*";
    }
}

<div id="@Model.Id">
    <p>@Model.Number @Model.Text @required</p>

    @if (Model.Type == Survey.Models.QuestionType.Text)
    {
        <p><input type="text" name="@Model.Id" id="@Model.Id" /></p>
    }
    else
    {
        <ol>
            @foreach (Survey.Models.QuestionOption option in Model.Options)
            { 
                <li>
                @if (!option.IsOther)
                {
                    if (Model.Type == Survey.Models.QuestionType.MultiChoice)
                    {
                        <input type="checkbox" id="@option.Id" name="@option.Id" value="@option.Id" /> @option.Text
                    }
                    else
                    {
                        <input type="radio" id="@option.Id" name="@option.Id" value="@option.Id" /> @option.Text
                    }
                }
                else
                {
                    @option.Text <input type="text" name="@option.Id" id="@option.Id" />
                }
                </li>
            }
        </ol>
    }
    <p>@Html.ActionLink("Edit", "Edit", "Question", new { questionId = @Model.Id, surveyId = @Model.SurveyId, language = @Model.QuestionLanguage }, null)</p>
</div>
