﻿@model Survey.Models.Question

@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Question</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.QuestionLanguage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.QuestionLanguage)
                @Html.ValidationMessageFor(model => model.QuestionLanguage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, 10, 60, null)
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRequired, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsRequired)
                    @Html.ValidationMessageFor(model => model.IsRequired, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="section-options" style="display: none;">
            <h4>Options</h4>
            <input id="AddOption" type="button" value="Add option" />
            <hr />
            <div id="options" class="col-md-12">
                @for (int i = 0; i < Model.Options.Count; i++)
                {
                    <div class="form-group">
                        @Html.LabelFor(modelItem => Model.Options[i].Text, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(modelItem => Model.Options[i].Text, new { htmlAttributes = new { @class = "form-control col-md-8 input-large" } })
                    </div>
                }
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(function () {

        //
        // Properly display the section-options
        //
        var selectedType = $('#Type option:selected').val();
        if (selectedType != 2) {
            $('#section-options').show();
        }

        //
        // On change event handler for the type of the question
        //
        $('#Type').change(ShowHideOptions);

        //
        // Set the onlick handler for the AddOption button.
        //
        $('#AddOption').click(AddOption);
    });

    //
    // Adds a new option for the question.
    //
    function AddOption() {
        var m = $('#options div:last input').attr('name');
        var index = 0;
        if (m != null && m.length > 0) {
            index = m.split('Options[')[1].replace('].Text', '');
            index++;
        }

        var html = '<div class="form-group"><label for=\"Options_' + index + '__Text\" class="control-label col-md-2">Option ' + index + ': </label>' +
            '<input class="form-control text-box single-line" id=\"Options_' + index + '__Text\" class=\"text-box single-line\"' +
            ' type=\"text\" value=\"\" name=\"Options[' + index + '].Text\"></div>';
        $('#options').append(html);


    };

    //
    // Show/hide the options depending on the question type
    //
    function ShowHideOptions() {
        var selected = $('#Type option:selected').val();
        if (selected != 2) {
            $('#section-options').show();
        } else {
            $('#section-options').hide();
        }
    }
</script>
}
